In [7]:
firstName = "Oscar"
lastName = "Castro"
lengthOfFirstName = len(firstName)
lengthOfLastName = len(lastName)

if (lengthOfFirstName == lengthOfLastName):
  print("Hello " + firstName + lastName)
else:
  if(lengthOfFirstName > lengthOfLastName):
    print("Hello " + firstName)
  else:
    print("Hello " + lastName)

Hello Castro

What happens when len(str) is not available in python framework?

In that case we will define our own len function. In this case become user defined function.

But what logic or algorith will you use to implement your len function?

count the letters in the world.
word = "I live in Vancouver."

lenght = 0
we will first from the firts character and increment the lenght variable for each character until the end of the string.

list or array

In [11]:
word = "I live in Vancouver."
lenght = 0
for c in word:
  lenght = lenght+1

print(lenght)

20

In [14]:
students = ["A","B","C"]
for students in students:
  print(students)

A
B
C

## **Conditions**

1. There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

In [40]:
Annie = 1996
Jane = 1999
if Annie%4 == 0:
    print("Annie was born in a leap year")
elif Jane%4 == 0:
    print("Jane was born in a leap year")
else:
    print("None of them were born in a leap year")

Annie was born in a leap year

2. In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10. Use if-else statement to determine what the canteen master will offer to him.

In [39]:
age = 10
if age <= 9:
    print ("Milk porridge for breakfast")
elif age >= 10 and age <= 14:
    print ("Sandwich for breakfast")
elif age >= 15 and age <= 17:
    print("Burger for breakfast")

Sandwich for breakfast

## **Loops**

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [38]:
for i in range(-4, 5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [37]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genres in Genres:
    print(Genres)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [36]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for squares in squares:
    print(squares)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [35]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while (i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [34]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while (i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.

In [33]:
print("Multiplication table of 6:")
for i in range (10):
    print("6 x",i,"=",6*i)
print("Multiplication table of 7:")
for i in range (10):
    print("7 x",i,"=",7*i)

Multiplication table of 6:
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
Multiplication table of 7:
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

The following is a list of animals in a National Zoo. Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]

Your brother needs to write an essay on the animals whose names are made of 7 letters. Help him find those animals through a while loop and create a separate list of such animals.

In [32]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while i<len(Animals):
      j=Animals[i]
      if(len(j)==7):
         New.append(j)
      i=i+1
print(New)

['giraffe', 'gorilla', 'parrots']